# config/authelia/users_database.yml.j2
users:

{% for user in authelia_users %}
  {{ user.username }}:
    displayname: "{{ user.displayname }}"
    password: "{{ user.password_hash }}"
    email: "{{ user.email }}"
    groups: 
{% for group in user.groups %}
      - {{ group }}
{% endfor %}

{% endfor %}
