# secrets/vault.yml

# VM information
vm_ip: "999.99.99.99"

# Admin credentials
# (injected in various places in the configuration)
infra_admin_username: infra-admin
infra_admin_displayname: "Admin"
infra_admin_email: "infra.admin@example.com"
infra_admin_pass: "plaintext-alphanumeric-secret"
infra_admin_pass_hash: "$argon2id$v=19$m=65536,t=3,p=4$..." # Paste hash here

# Structured list for injection of credentials into `user_database.yml`.
authelia_users:
  # Admin credentials
  - username: infra-admin
    displayname: "Admin"
    email: "infra.admin@example.com"
    password: "plaintext-alphanumeric-secret" 
    password_hash: "$argon2id$v=19$m=65536,t=3,p=4$..." # Paste hash here
    groups:
      - users
      - rtc-users
      - admins

  # Bot credentials
  - username: collab-project
    displayname: "Collab Account"
    email: collab.project@example.com
    password: "plaintext-alphanumeric-secret" 
    password_hash: "$argon2id$v=19$m=65536,t=3,p=4$..." # Paste hash here
    groups:
      - users
      - collaborative-accounts # Collaborative Accounts group.

  # User credentials
  - username: jdoe
    displayname: "Jane Doe"
    email: "jane.doe@example.com"
    password: "plaintext-alphanumeric-secret" 
    password_hash: "$argon2id$v=19$m=65536,t=3,p=4$..." # Paste hash here
    groups:
      - users
      - rtc-users # Optional: For collaboration features
      - admins # Optional: For administration features

# Authelia Secrets
authelia_jwt_secret: "plaintext-alphanumeric-secret"
authelia_session_secret: "plaintext-alphanumeric-secret"
authelia_storage_encryption_key: "plaintext-alphanumeric-secret"
authelia_oidc_private_key: |
  -----BEGIN PRIVATE KEY-----
  private_key
  -----END PRIVATE KEY-----

# PostgreSQL Credentials
postgres_root_password: "plaintext-alphanumeric-secret"
authelia_db_password: "plaintext-alphanumeric-secret"
forgejo_db_password: "plaintext-alphanumeric-secret"
jupyterhub_db_password: "plaintext-alphanumeric-secret"
grafana_db_password: "plaintext-alphanumeric-secret"

# Valkey Credentials
valkey_password: "plaintext-alphanumeric-secret"

# SMTP Credentials
smtp_host: "smtp.domain.com"
smtp_port: 587
smtp_username: "svc-company@example.com"
smtp_password: "plaintext-alphanumeric-secret"
smtp_sender: "svc-company@example.com"

# JupyterHub Credentials
jupyterhub_cookie_secret: "plaintext-alphanumeric-secret"
jupyterhub_crypt_key: "plaintext-alphanumeric-secret"

# Forgejo Credentials
forgejo_secret_key: "plaintext-alphanumeric-secret"
forgejo_internal_token: "plaintext-alphanumeric-secret"

# Restic Credentials
restic_password: "plaintext-alphanumeric-secret"

# Grafana Misc
ms_teams_webhook_url: "teams-generated-webhook"

# OIDC Secrets
authelia_oidc_hmac_secret: "plaintext-alphanumeric-secret"
jupyterhub_oidc_client_secret: "plaintext-alphanumeric-secret"
jupyterhub_oidc_client_secret_hash: "$argon2id$v=19$m=65536,t=3,p=4$..." # Paste hash here
forgejo_oidc_client_secret: "plaintext-alphanumeric-secret"
forgejo_oidc_client_secret_hash: "$argon2id$v=19$m=65536,t=3,p=4$..." # Paste hash here
grafana_oidc_client_secret: "plaintext-alphanumeric-secret"
grafana_oidc_client_secret_hash: "$argon2id$v=19$m=65536,t=3,p=4$..." # Paste hash here
